---
import ThemeToggle from './ThemeToggle.astro';
import { Bars3Icon } from '@heroicons/react/24/outline';
import MobileMenu from './MobileMenu';

const navigation = [
  { name: 'Home', href: '/' },
  { name: 'Services', href: '/services' },
  { name: 'Videos', href: '/videos' },
  { name: 'Contact', href: '/contact' },
];
---

<header class="sticky-nav bg-white/80 dark:bg-gray-900/80">
  <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="flex w-full items-center justify-between border-b border-gray-200 dark:border-gray-700 py-6">
      <div class="flex items-center">
        <a href="/">
          <span class="text-2xl font-bold text-gray-900 dark:text-white">Understudios</span>
        </a>
      </div>
      
      {/* Desktop Navigation */}
      <div class="hidden lg:flex ml-10 space-x-4 items-center">
        {navigation.map((link) => (
          <a href={link.href} class="text-base font-medium text-gray-500 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">
            {link.name}
          </a>
        ))}
        <div class="flex items-center space-x-4">
          <ThemeToggle />
        </div>
      </div>

      {/* Mobile menu button */}
      <div class="flex lg:hidden items-center gap-4">
        <ThemeToggle />
        <button
          type="button"
          class="mobile-menu-button inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 dark:text-gray-200"
        >
          <span class="sr-only">Open main menu</span>
          <Bars3Icon className="h-6 w-6" aria-hidden="true" />
        </button>
      </div>
    </div>
  </nav>

  {/* Mobile menu */}
  <MobileMenu  isOpen={false} navigation={navigation} />
</header>

<script>
  let isMenuOpen = false;
  const mobileMenuButton = document.querySelector('.mobile-menu-button');
  
  function toggleMenu() {
    isMenuOpen = !isMenuOpen;
    document.dispatchEvent(new CustomEvent('toggleMenu', { detail: { isOpen: isMenuOpen } }));
  }

  mobileMenuButton?.addEventListener('click', toggleMenu);
</script>